body{
        background-image: url("tree.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .list{ 
        display: inline-block;
        margin: 0;
        margin-right: 100px;
        font-size: 20px;
    }
    
    li{
        display: inline;
        margin-right: 30px;  
        
    }
    
.Matters{
    color: orange;
}

.Home {
    color:orange;
}

.button {
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 40px;
}

