.about{
    text-align: center;
    margin:90pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Tabel{
        margin: 50pt;
        align-items: center;
        width:50%; 
        display: grid;
        grid-template-columns: auto auto auto;  
        grid-gap:10pt
    }
.one {
        list-style: none;
        margin: 0 60px;
        flex: 1pt;
    }
.two {
        list-style: none;
        margin: 0 60px;
        flex: 1pt;
}
.three {
        list-style: none;
        margin: 0 60px;
        flex: 1pt;
}

hr{
    width: 70px;
    color: orange;
    border: solid 1px;

}
.like{
    width: 10%;
    margin: 0 50px;
}
.money{
    width: 10%;
    margin: 0 50px;
}
.comment{
    width: 10%;
    margin: 0 50px;
}
