.about{
    text-align: center;
    margin:90pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.S{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 50px;
    justify-content: center;
        
    }
.one {
        list-style: none;
        margin: 0 60px;
        height: 450pt;
       
    }
.two {
        list-style: none;
        margin: 0 60px;
        height: 450pt;

}
.three {
        list-style: none;
        margin: 0 60px;
        height: 450pt;
       
}

hr{
    width: 70px;
    color: orange;
    border: solid 3px;

}
.like{
    width: 20%;
    margin: 0 50px;
}
.money{
    width: 20%;
    margin: 0 50px;
}
.comment{
    width: 20%;
    margin: 0 50px;
}
